@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


html {
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
}


.font-poppins {
    font-family: 'Poppins', sans-serif;
}
/* 
[class*="WidgetTitle__WidgetTitleComponent"] {
    display: none !important;
} */


/* App.css */

.testimonial-scroll-wrapper {
  /* Allow manual scrolling */
  overflow-x: auto;
  cursor: grab;
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  user-select: none; /* Prevent text selection during drag */
}

.testimonial-scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

@keyframes continuousMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.33%); } /* We tripled the data to make it smoother */
}

.testimonial-track {
  display: flex;
  width: max-content;
  animation: continuousMarquee 60s linear infinite;
}

/* PAUSE AND ALLOW MANUAL CONTROL ON HOVER/TOUCH */
.testimonial-scroll-wrapper:hover .testimonial-track,
.testimonial-scroll-wrapper:active .testimonial-track {
  animation-play-state: paused;
}